h1 {
	color: green;
}
body {
	margin: auto 0;
	font-family:'Roboto','sans-serif';
}
.header__inner {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px #26262629;
	max-height: 72px;
	align-items: center;
}
.header_logo {
	margin: 30px 0 29px 81px;
			}
.form1 {
	padding: 0px;
	display: flex;
	margin: 0px;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
}
.form2 {
	display: flex;
	padding: 0px;
	margin: 0px;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
}		
.to {
	color: #626262;
	padding: 0px;
	font-size: 16px;
	display: flex;
	margin: 10px;
	}
	.select {
		border: 0;
	}
.header {
	
}
.adres {
	display: flex;
	justify-content: space-between;
	padding: 15px;

}
.location {
	border: 0;
	color: black;
}
.userbuttons {
	display: flex;
	justify-content: space-between;
	}
.signin {
	background-color: #FFF;
	color: #000; 
	text-decoration: none;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	padding: 10px 15px;
	margin-right: 8px;
}
.register {
	text-decoration: none;
	border-radius: 2px;
	background: #000;
	color: #FFF;
	padding: 10px 15px;
	margin-left: 8px;

}
.add-to-cart {
	margin-right: 91px;
}
.main {
		
	padding: 87px 80px 100px 87px;
}
.type {
	width: 700px;
	border: none;
	margin-left: 8px;
	outline:none;
}
.searchbar {
	display: flex;
	border-bottom: 1px solid #626262;
	padding-bottom: 15px;
}
.moskow-rest-text {
	font-size: 22px;
	color: black;
	margin-top: 56px;
}
.restaurants {
	margin-top: 16px;
	display: flex;	
	justify-content: space-between;
	flex-wrap: wrap;
}
.png1 {
	margin: 16px 0 16px 0;

}
.mac-gaz {
	margin: 0 0 7px 0;
}
.rest {
	text-decoration: none;
	display: block;
	}
.rest:visited {
	color: #1D1D1D;
}
.rest:hover {
	background-color: #F0F8FF;
}
.footer-top {
	
	padding: 56px 80px 0 87px;
	background-color: #262626;
	border-bottom: 1px solid #E0FFFF;
}
.white-logo {
	margin-bottom: 40px;
}
.footer-bot {
	
	padding: 0 80px 44px 87px;
	background-color: #262626;
	display: flex;
	border-bottom: 1px solid #E0FFFF;
}
	
.language {
	padding: 12px 125px 12px 48px;
	margin: 32px 97px 33px 0;
	background-color: #3B3B3B;
	color: #FFF;
}
.ubereats {
	display: flex;

}
.social-networks {
	display: flex;
}
.linkbottom {
	text-decoration: none;
	color: white;
}
.blockoflinks1 {
	font-size: 13px;
	margin-right: 60px;
	padding-top: 20px;

}
.blockoflinks2 {
	font-size: 13px;
	margin-left: 80px;
	padding-top: 20px;
}
.footer-bot2 {
	
	padding: 42px 80px 40px 87px;
	background-color: #262626;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #E0FFFF;

}
.appstore {
	padding-right: 21px;
}
.gplay {
	padding-left: 21px;
}
.footer-bot3 {
	
	padding: 40px 80px 40px 87px;
	background-color: #262626;
	display: flex;
}